@import url(Styles/header.css);
@import url(Styles/resset.css);
@import url(Styles/footer.css);
@import url(Styles/principal.css);


body {
    background-image: url('Imagens/iphone_608.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-repeat: no-repeat; /* Evita repetir a imagem */
  }
  