/* Estilos gerais para o rodapé */
footer {
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno para afastar o conteúdo das bordas */
    text-align: center; /* Alinhar o texto ao centro do rodapé */
    background-color: rgba(51, 51, 51, 0.5); /* Cor de fundo com 50% de opacidade */
    color: #fff; /* Cor do texto no cabeçalho */
    height: 220px; /* Aumente este valor para aumentar a altura do rodapé */
  }
.text


