.cabeçalho{
    display: flex;
    width: 100%;                /*coloca largura da janela */
    height: 120px;                /*coloca caltura do  espaço do cabeçalho */
    text-align: center;         /*alinha o texto do titulo */         
    justify-content: space-between; /*coloca espsço entre os objetos do cabeçalho */
    align-items: center;  
    margin: 1cqi;          /*alinha os objeto ao centro vertical doespaço */
    border: none;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.5); /* Cor de fundo com 50% de opacidade */
    color: red; /* Cor do texto no cabeçalho */
    padding: 20px 0;
}
.logotipo{
    width: 50px;
    padding: 5px;
    margin: 05px;
}
.botao_login {
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #e6ecac); 
    font-family: 'Times New Roman';   
}

/* formata o botão verde para mudar a cor do texoo e colocarr sombra quando o mouse passar encima*/
.botao_login:hover {
    background-color: rgb(4, 88, 63);
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(22, 218, 71, 0.89);
}
     .titulo_smart{
        font-family: 'Trebuchet MS';
        font-size: 50px;
    }
    .botao_login {
        
        font-size: 50px;
        margin: 10px 60px;
   
    }
 
  
   